/* mobile device resolution */
@media only screen and (max-width: 850px) {
	#headlinks,
	#page-content,
	#footer {
		width: 600px;
	}
	.headlink {
		width: 90px;
		height: 30px;
	}

	#page-content {
		padding: 5px;
		padding-top: 10px;
		padding-bottom: 1px;
	}
}
