/* mobile device resolution */
#headlinks,
#page-content,
#footer {
	width: 600px;
}
.headlink {
	min-width: 60px;
	height: 30px;
}

#page-content {
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 1px;
}
