/* low resolution */
@media only screen and (max-width: 650px) {
	#headlinks {
		width: 420px;
	}
	#page-content,
	#footer {
		width: 460px;
	}
	#footer {
		font-size: 10px;
	}
}
@media only screen and (max-width: 460px) {
	#headlinks {
		width: 220px;
	}
	#page-content,
	#footer {
		width: 260px;
	}
}
