/* posts module patch - low resolution */
@media only screen and (max-width: 650px) {
	.post,
	#pages {
		width: 420px;
	}

	.page {
		width: 25px;
		height: 25px;
	}
}
@media only screen and (max-width: 460px) {
	.post,
	#pages {
		width: 220px;
	}
}
