# content div ending
echo '</div>'

# footer
if [ -e "${SSG__database}/${templates__dbdir}footer.rc" ]; then
	echo '<div id="footer">'
		. "${SSG__database}/${templates__dbdir}footer.rc"
	echo '</div>'
fi

# ending
cat << EOF
	</body>
</html>
EOF
