# html header
template__html_lang_tag=''
template__html_title_tag=''
[ ! "${template__html_lang}" = '' ] && template__html_lang_tag=' lang="'"${template__html_lang}"'"'
[ ! "${template__html_title}" = '' ] && template__html_title_tag='<title>'"${template__html_title}"'</title>'

cat << EOF
<!DOCTYPE html>
<html${template__html_lang_tag}>
	<head>
		${template__html_title_tag}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="${defaults__url_prefix}/${template__generated_assets_directory}${__template_name__}.css">
EOF

# user defined headers
[ -e "${SSG__database}/${templates__dbdir}html-headers.rc" ] && \
	. "${SSG__database}/${templates__dbdir}html-headers.rc"

# additional heraders
[ ! "${template__html_headers}" = '' ] && echo "${template__html_headers}"

# header end
cat << EOF
	</head>
	<body>
EOF

# content header
if [ -e "${SSG__database}/${templates__dbdir}header.rc" ]; then
	echo '<div id="header">'
		. "${SSG__database}/${templates__dbdir}header.rc"
	echo '</div>'
fi

# headlinks
if [ -e "${SSG__database}/${templates__dbdir}headlinks.rc" ]; then
	echo '<div id="headlinks">'
		. "${SSG__database}/${templates__dbdir}headlinks.rc"
	echo '</div>'
fi

# content div
echo '<div id="page-content">'

# cleanup
unset 'template__html_lang_tag'
unset 'template__html_title_tag'
unset 'template__html_title'
unset 'template__html_headers'
