# Template metadata
	__template_name__='template-simpleblog'

# Copy template to the "generated" directory
	if [ ! -e "${SSG__generated}/${template__generated_assets_directory}${__template_name__}.css" ]; then
		echo "template.rc: Copying '${__template_name__}' template styles" >&2

		[ ! -e "${SSG__generated}/${template__generated_assets_directory}" ] && mkdir -p "${SSG__generated}/${template__generated_assets_directory}"

		for style in ${template_location}/css/*.css; do
			[ "${style}" = "${template_location}/css/*.css" ] && break

			if [ -e "${SSG__database}/${templates__dbdir}${__template_name__}.patches/css/${style##*/}" ]; then
				cat "${SSG__database}/${templates__dbdir}${__template_name__}.patches/css/${style##*/}" >> "${SSG__generated}/${template__generated_assets_directory}${__template_name__}.css"
				continue
			fi

			cat "${style}" >> "${SSG__generated}/${template__generated_assets_directory}${__template_name__}.css"
		done

		for style in ${SSG__database}/${templates__dbdir}${__template_name__}.patches/css/*.css; do
			[ "${style}" = "${SSG__database}/${templates__dbdir}${__template_name__}.patches/css/*.css" ] && break

			[ ! -e "${template_location}/css/${style##*/}" ] && cat "${style}" >> "${SSG__generated}/${template__generated_assets_directory}${__template_name__}.css"
		done
	fi

# Import resource
	if [ "${2}" = 'resource' ]; then
		if [ ! "${3}" = '' ] && [ -e "${template_location}/resources/${3}.rc" ]; then
			if [ -e "${SSG__database}/${templates__dbdir}${__template_name__}.patches/resources/${3}.rc" ]; then
				. "${SSG__database}/${templates__dbdir}${__template_name__}.patches/resources/${3}.rc"
				return 0
			fi

			. "${template_location}/resources/${3}.rc"

			return 0
		fi

		echo " - Resource ${3} not found in template ${__template_name__}" >&2

		return 1
	fi

# Print template part
	if [ "${2}" = 'top' ]; then
		local template_part='top.rc'
	elif [ "${2}" = 'bottom' ]; then
		local template_part='bottom.rc'
	else
		echo " - ${2} is not a valid template part" >&2
		return 1
	fi

	if [ -e "${SSG__database}/${templates__dbdir}${__template_name__}.patches/parts/${template_part}" ]; then
		. "${SSG__database}/${templates__dbdir}${__template_name__}.patches/parts/${template_part}"
	else
		. "${template_location}/parts/${template_part}"
	fi
