# template resource for posts module

# ignore if is one page only
if [ "${posts__counted_pages}" -gt '1' ]; then
	echo '<div id="pages">'
		local page_number

		for page_number in $(
			page_number_string='1'

			while [ "${page_number_string}" -le "${posts__counted_pages}" ]; do
				echo -n "${page_number_string} "
				page_number_string="$((page_number_string+1))"
			done

			unset 'page_number_string'
		)
		do
			[ "${current_page_number}" = "${page_number}" ] && local page_number_current=' current-page'

			if "${posts__no_first_page_mode}" && [ "${page_number}" = '1' ]; then
				echo '<div class="page'"${page_number_current}"'"><a href="'"${defaults__url_prefix}/${posts__generated_page_directory}"'">'"${page_number}"'</a></div>'
			else
				echo '<div class="page'"${page_number_current}"'"><a href="'"${defaults__url_prefix}/${posts__generated_page_directory}${page_number}"'">'"${page_number}"'</a></div>'
			fi

			unset 'page_number_current'
		done

		unset 'page_number'
	echo '</div>'
fi
