# template resource for posts-tags module
[ "${template__taglists_no_tag_prefix}" = '' ] && template__taglists_no_tag_prefix='false'
[ "${template__taglists_tag_prefix}" = '' ] && ! ${template__taglists_no_tag_prefix} && \
	template__taglists_tag_prefix='#'

echo '<div id="taglist">'
	if [ ! "${posts__tag_list}" = '' ]; then
		for tag in ${posts__tag_list}; do
			echo '<a class="taglink" href="'"${defaults__url_prefix}/${posts_tags__generated_directory}/${tag}"'">'"${template__taglists_tag_prefix}${tag}"'</a><br>'
		done

		unset 'tag'
	else
		echo "${posts_tags__label_not_found}"
	fi
echo '</div>'
